.ExamEditor .editor_wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
}

.ExamEditor input {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    padding: 15px;
}

input {
    transition: ease-in border 0.15s;
}

input:hover {
    border: 1px solid #1f93ff;
}

.ExamEditor input:focus {
    outline: none;
    border: 1px solid #1f93ff;
}

.ExamEditor button {
    cursor: pointer;
    width: 80px;
    border: none;
    background-color: #1f93ff;
    color: white;
    border-radius: 5px;
}

.addBtn {
    transition: ease-in background-color 0.1s;
}

.addBtn:hover {
    background-color: #1d89ee;
}
